<nav class="nav flex-column nav-tabs" style=" font-size: large; text-align: center;">
    <div class="navlinkclass">
        <div class="nav-link " routerLink="/home">Back to Dashboard</div>
    </div>
    <div class="navlinkclass">
        <div class="nav-link " data-bs-target="#gotolocation" data-bs-toggle="modal" (click)="setLocation()">Change
            Location</div>
    </div>
    <div class="navlinkclass">
        <div class="nav-link " data-bs-target="#gotostation" data-bs-toggle="modal" (click)="setLocation()">Go to
            Station</div>
    </div>
    @if (!feedline) {
        <div class="navlinkclass" >
            <div class="nav-link " (click)="redirectToFeeder()">Feeder / UC Lines</div>
        </div>
    } @else {
        <div class="navlinkclass">
            <div class="nav-link "  (click)="redirectToMainLines()">Main / Current Lines</div>
        </div>
    }
    <div class="navlinkclass">
            <div class="nav-link " (click)="MoreInfoModal.setLocation()" data-bs-target="#gotomoreinfo" data-bs-toggle="modal">At a Glance</div>
    </div>
</nav>

<div class="modal fade" id="gotostation" tabindex="-1" role="dialog" aria-labelledby="stationNameModalLabel"
    aria-hidden="true">
    <app-station-name-modal></app-station-name-modal>
</div>

<div class="modal fade" id="gotolocation" tabindex="-1" role="dialog" aria-labelledby="stationNameModalLabel"
    aria-hidden="true">
    <app-location-modal [locationVal]="location"></app-location-modal>
</div>

<div class="modal fade" id="gotomoreinfo" tabindex="-1" role="dialog" aria-labelledby="stationNameModalLabel"
    aria-hidden="true">
    <app-more-info-modal></app-more-info-modal>
</div>