<div style="background-image: url('https://t4.ftcdn.net/jpg/01/52/43/71/240_F_152437197_Vy1PMzdkFVFRXmj3NPwERBMcjnvRYwrt.jpg'); background-size: 1920px 500px;">
    <h1 style="text-align: center; padding: 5rem 7rem 11rem 7rem;">Welcome to Railway Route Tracker!</h1>
</div>
<div style="text-align: center; margin-bottom: 3rem;">
    <span><b>Select your location: </b></span>
    <div class="form-check form-check-inline" style="margin-left: 5px;">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"
            [(ngModel)]="locationVal" (ngModelChange)="setLocation()">
        <label class="form-check-label" for="inlineRadio1" [ngStyle]="{'font-weight': locationVal ==='option1' ? 'bold' : '' }">Americas (Game Routes)</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"
            [(ngModel)]="locationVal" (ngModelChange)="setLocation()">
        <label class="form-check-label" for="inlineRadio2" [ngStyle]="{'font-weight': locationVal ==='option2' ? 'bold' : '' }">Europe (Game Routes)</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option3"
            [(ngModel)]="locationVal" (ngModelChange)="setLocation()">
        <label class="form-check-label" for="inlineRadio2" [ngStyle]="{'font-weight': locationVal ==='option3' ? 'bold' : '' }">Kolkata Metro</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option4"
            [(ngModel)]="locationVal" (ngModelChange)="setLocation()">
        <label class="form-check-label" for="inlineRadio2" [ngStyle]="{'font-weight': locationVal ==='option4' ? 'bold' : '' }">Namma Metro</label>
    </div>
</div>

<div class="row" style="margin-left: 25%">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body" style="background-color: aquamarine;">
                <h5 class="card-title">List of Operational Lines</h5>
                <p class="card-text">Find the list of operational lines by location and the operational stations</p>
                <button [routerLink]="['/alllines', val]" class="btn btn-primary" [disabled]="!locationVal">Open</button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body" style="background-color: bisque;">
                <h5 class="card-title">Search by Station Name</h5>
                <p class="card-text">See details of a particular station by selected location and line</p>
                <button data-bs-target="#stationNameModal" data-bs-toggle="modal" class="btn btn-primary" [disabled]="!locationVal">Open</button>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-left: 25%; margin-top: 2rem">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body" style="background-color:lavenderblush;">
                <h5 class="card-title">Route Planner</h5>
                <p class="card-text">Find routes from source to destination stations via multiple lines</p>
                <button routerLink="/routePlanner" class="btn btn-primary" [disabled]="!locationVal">Open</button>
            </div>
        </div>
    </div>
    @if (!(locationVal === 'option3' || locationVal === 'option4')) {
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body" style="background-color:rgb(195, 232, 122);">
                <h5 class="card-title">Feeder Train Services</h5>
                <p class="card-text">Check the list of feeder train services by location</p>
                <button [routerLink]="['/alllines/Feeder', val]" class="btn btn-primary" [disabled]="!locationVal">Open</button>
            </div>
        </div>
    </div>
    } @else {
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body" style="background-color:rgb(195, 232, 122);;">
                <h5 class="card-title">Under Construction Routes</h5>
                <p class="card-text">Check train routes under construction or planned for construction by location</p>
                <button [routerLink]="['/alllines/UC', val]" class="btn btn-primary" [disabled]="!locationVal">Open</button>
            </div>
        </div>
    </div>
    }
</div>

<div class="modal fade" id="stationNameModal" tabindex="-1" role="dialog" aria-labelledby="stationNameModalLabel" aria-hidden="true">
    <app-station-name-modal ></app-station-name-modal>
</div>