<div style="float: left;">
    @if (!collapsed) {<div style="width:50%;">
        <button class="btn btn-danger" style="align-items: right;" (click)="collapsed = true;">
            << </button>
                <app-side-nav></app-side-nav>
    </div>}
    @else {
    <button class="btn btn-success" (click)="collapsed = false;" style="float: left">>></button>
    }
</div>

<div style="margin-top: 2rem; text-align: center; ">
    <h1>Route Planner</h1>
    <h2 style="text-decoration: overline;">{{location}}</h2>
    <h5>Please note that route planner may produce undesirable results. Check the routes before confirming your journey.
    </h5>
</div>
<table class="table" style="margin-left: 25%; margin-top: 2rem; width: 50%">
    <tbody>
        <tr>
            <td>
                <h2>Source Station</h2>
            </td>
            <td></td>
            <td>
                <h2>Destination Station</h2>
            </td>
        </tr>
        <tr>
            <td>
                <div class="btn-group">
                    <button class="btn btn-success btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        @if (!sourceStation) {Select}
                        @else {
                        {{sourceStation}}
                        }
                    </button>
                    <div class="dropdown-menu custom-dd">
                        @for(val of stationList.sort(); track val) {
                        <button [disabled]="destinationStation === val" class="dropdown-item" data-bs-toggle="modal"
                            (click)="sourceStation = val; routeFound = 0">{{val}}</button>
                        }
                    </div>
                </div>
            </td>
            <td (click)="swapStations(sourceStation, destinationStation); routeFound = 0">
                @if (sourceStation && destinationStation) {
                <img src="https://static.vecteezy.com/system/resources/previews/020/718/075/non_2x/transfer-exchange-arrows-contour-icon-isolated-white-background-logo-arrows-in-different-directions-exchange-symbol-vector.jpg"
                    height="64" width="128" />
                }
            </td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-danger btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        @if (!destinationStation) {Select}
                        @else {
                        {{destinationStation}}
                        }
                    </button>
                    <div class="dropdown-menu custom-dd">
                        @for(val of stationList.sort(); track val) {
                        <button [disabled]="sourceStation === val" class="dropdown-item" data-bs-toggle="modal"
                            (click)="destinationStation = val; routeFound = 0">{{val}}</button>
                        }
                    </div>
                </div>
            </td>
        </tr>
        @if (sourceStation && destinationStation) {
        <tr>
            <td colspan="3">
                @if (routeFound === 0) {
                <button class="btn btn-primary" style="width: 100%" (click)="findRoute()">Find Route</button>
                } @else if (routeFound === 1 && routeArray.length > 0) {
                <button class="btn btn-success" style="width: 100%;" [disabled]="true">Route Found
                    Successfully!</button>
                } @else if (routeArray.length === 0) {
                    <button class="btn btn-danger" style="width: 100%;" [disabled]="true">Stations are not connected. No possible route found.</button>
                } @else {
                <button class="btn btn-danger" style="width: 100%;" [disabled]="true">Error Finding a Route. Please
                    check manually with these stations!</button>
                }
            </td>
        </tr>
        <tr>
            
        </tr>
        }
    </tbody>
</table>

<div style="width: 70%; overflow: auto; margin: auto;">
    @if (routeFound === 1 && (routeArray.length > 0)) {
        <div >
            <div class="accordion" style="margin: auto;" id="accordionPanelsStayOpenExample">
                @for (item of routeArray; track item; let i = $index) {
                <div class="accordion-item" style="padding-bottom: 5px;">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne-{{i}}">
                        @if (item[0][0][item[0][0].length -1][0] === 'colorCode') {
                        <button
                            [ngStyle]="{'background-color': item[0][0][item[0][0].length -1][0] === 'colorCode' ? item[0][0][item[0][0].length -1][1]: ''}"
                            style="color: white;" class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse" [attr.data-bs-target]="'#panelsStayOpen-collapseOne-' + i"
                            aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                            <strong>{{item[1]}} - {{item[2]}} <br> <i>(via {{item[0][0][0][0]}} -
                                    {{item[0][0][item[0][0].length -2][0]}})</i></strong>
                        </button>
                        } @else {
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            [attr.data-bs-target]="'#panelsStayOpen-collapseOne-' + i" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseOne">
                            <strong>{{item[1]}} - {{item[2]}} <br> <i>(via {{item[0][0][0][0]}} -
                                    {{item[0][0][item[0][0].length -1][0]}})</i></strong>
                        </button>
                        }
                    </h2>
                    <div id="panelsStayOpen-collapseOne-{{i}}" class="accordion-collapse collapse"
                        aria-labelledby="'panelsStayOpen-headingOne'+i">
                        <div class="accordion-body" style="overflow: auto;">
                            <table class="table " style="border-left: 2px;">
                                <tbody>
                                  <!-- <tr>
                                    @for (val of item[0]; track val; let k=$index) {
                                     {{val[val.length -1]}}
                                    }
                                  </tr> -->
                                  <tr>
                                    @for (val of item[0][0]; track val; let k=$index) {
                                        @if (k%2 === 0) {
                                            @if (val[0] !== 'colorCode') {
                                                <td [ngStyle]="{'color': (val[0] === item[1]) ? 'green' : (val[0] === item[2]) ? 'red' : '',
                                                 'font-weight': ((val[0] === item[1]) || (val[0] === item[2]) ? 'bold'  : '')}" [routerLink]="['/station', location, val[0]]">{{val[0]}}</td>
                                            }
                                        } @else {
                                          <td></td>
                                        }
                                    }
                                  <tr>
                                    @for (val of item[0][0]; track val; let k=$index) {
                                        @if (k%2 === 1) {
                                            @if (val[0] !== 'colorCode') {
                                                <td [routerLink]="['/station', location, val[0]]" [ngStyle]="{'color': (val[0] === item[1]) ? 'green' : (val[0] === item[2]) ? 'red' : '',
                                                 'font-weight': ((val[0] === item[1]) || (val[0] === item[2]) ? 'bold'  : '')}">{{val[0]}}</td>
                                            }
                                        } @else {
                                          <td></td>
                                        }
                                      
                                    }
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
        } @else if (routeFound === 2) {
            <div colspan="3">
                @for (data of stationsVisited; track data) {
                    <button  class="btn btn-link" [routerLink]="['/station/', location, data]" >{{data}}</button>
                }
            </div>
        }
</div>